numpy==1.26.4
opencv-python==4.11.0.86
freetype-py
imageio
pyglet==1.5.27
trimesh
pytorch-lightning==2.0.9
scikit-image
smplx==0.1.28
yacs
chumpy@git+https://github.com/mattloper/chumpy
timm
einops
xtcocotools
pandas
hydra-core
hydra-submitit-launcher
hydra-colorlog
pyrootutils
rich
webdataset
ultralytics==8.1.34
